body {
background-image: url('../images/background.jpg');
}

h1 {
  margin-top: 100px;
  font-family: 'Lobster', cursive;
  font-size: 5em;
  text-align: center;
  background-color: #ff6ea8;
  color:white;
  padding-bottom: 10px;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  text-align: center;
  margin-top: -5px;
  margin-bottom: -5px;
}

.container {
  display:block;
  margin: 0px auto;
  width:1000px;
  height: 500px;
  background-color: white;
  border: 5px solid #ffcd05;
  border-radius: 20px;
}

.reset, .resetScore {
  margin: 0px auto;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  width: 150px;
  font-size: 1.3em;
  font-family: 'Lobster', cursive;
  background-color: #ff6ea8;
  border: none;
  color: white;
  letter-spacing: 2px;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 3px 3px #aaa;
}

.reset {
  margin-left: 335px;
}

button:hover {
  background-color: #db61a4;
}

.box {
  display:inline-block;
  width: 290px;
}

#left img {
  margin: 0px 0px 30px 45px;
  display: absolute;
}

#right img {
  width: 249px;
  margin: 30px 0px 0px 20px;
}

table {
  display:inline-block;
  margin: 0px 40px 0px 40px;
}

td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
}

#banana {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

#unicorn {
  width:96px;
}

#winner {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  font-size: 2.5em;
  color:#db61a4;
  height:90px;
  margin-top: 15px;
  margin-bottom: -15px;
}

/*highlights the row that won*/
.win {
  border: 2px solid black;
}

#musicButton {
  width:30px;
  display: inline-block;
  float:right;
}
